body {
	  background-color: #BFC0C0;
	  color: black
 ;
    font-family: Helvetica
    font-size:  45px;
}

h1 {
color: white;
font-family: 'Abril Fatface', cursive;
}

h2 {
  color: white;
font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  font-weight: lighter;
}

a{
	font-family: 'Roboto' , sans-serif;
	text-decoration: none;
	color: pink;
	font-weight: 600;
	font-size: 16px;
}
 a: hover {
 	color: black;
} 	

<img src="shelly.jpg" class="img-circle">

 